In [1]:
import inspect
import winsound
import time
import string
import unidecode
import re
import sqlite3
import pandas as pd
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import TimeoutException, NoSuchElementException

from config import settings

In [2]:
def load_database(db_name):
    """
    Load each table from the SQLite database into its own DataFrame.
    
    Parameters:
    - db_name (str): The name of the SQLite database file.

    Returns:
    dict: A dictionary where each key is a table name and each value is a DataFrame containing the table's data.
    """
    conn = sqlite3.connect(f'{settings.db_folder_short}/{db_name}')
    
    def get_table_names():
        """
        Retrieves the names of all tables in the database.
        
        Returns:
        list: A list of table names.
        """
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        tables = cursor.fetchall()
        return [table[0] for table in tables]
    
    # Initialize a dictionary to hold DataFrames for each table
    table_dfs = {}
    
    # Get the list of table names
    table_names = get_table_names()
    
    # Load each table into its own DataFrame
    for table_name in table_names:
        query = f"SELECT * FROM {table_name};"
        table_dfs[table_name] = pd.read_sql_query(query, conn)
    
    conn.close()
    
    return table_dfs

In [3]:
table_dfs = load_database('b3.db')
table_dfs.keys()

dict_keys(['company_info', 'nsd'])

In [14]:
table_dfs['nsd'].isin(settings.finsheet_types)['nsd_type'].sum()

np.int64(26885)

In [16]:
findata = [['Dados da Empresa', 'Composição do Capital']]
for grupo, quadro in findata: 
    print('grupo =', grupo)
    print(quadro)

grupo = Dados da Empresa
Composição do Capital