In [4]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
db_path = 'data/b3 BENS INDUSTRIAIS.db'
conn = sqlite3.connect(db_path)

# Read the finsheet table into a DataFrame
query = "SELECT * FROM finsheet"
df_finsheet = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Filter the DataFrame by company "EMBRAER SA"
df_embraer = df_finsheet[df_finsheet['company_name'] == 'EMBRAER SA']

# Save the filtered DataFrame as a CSV file
csv_path = 'finsheet_embraer.csv'
df_embraer.to_csv(csv_path, index=False)

print(f"Data saved to {csv_path}")

Data saved to finsheet_embraer.csv

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
db_path = 'data/b3 BENS INDUSTRIAIS.db'
conn = sqlite3.connect(db_path)

# Read the finsheet table into a DataFrame
query = "SELECT * FROM finsheet"
df_finsheet = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Filter the DataFrame by company "EMBRAER SA"
df_embraer = df_finsheet[df_finsheet['company_name'] == 'EMBRAER SA']

# Ensure 'quarter' is in datetime format and handle any conversion errors
df_embraer['quarter'] = pd.to_datetime(df_embraer['quarter'], errors='coerce')

# Filter by the year 2016
df_embraer_2016 = df_embraer[df_embraer['quarter'].dt.year == 2016]

# Save the filtered DataFrame as a CSV file
csv_path = 'finsheet_embraer_2016.csv'
df_embraer_2016.to_csv(csv_path, index=False)

print(f"Data saved to {csv_path}")

In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
db_path = 'data/b3 BENS INDUSTRIAIS.db'
conn = sqlite3.connect(db_path)

# Read the finsheet table into a DataFrame
query = "SELECT * FROM finsheet"
df_finsheet = pd.read_sql_query(query, conn).drop_duplicates()

# Close the database connection
conn.close()

# Filter the DataFrame by company "EMBRAER SA"
df_embraer = df_finsheet[df_finsheet['company_name'] == 'EMBRAER SA'].copy()

# Further filter by "DFs Consolidadas"
df_embraer_quadro = df_embraer[df_embraer['tipo'] == 'DFs Consolidadas'].copy()

# Ensure 'quarter' is in datetime format and handle any conversion errors
df_embraer_quadro['quarter'] = pd.to_datetime(df_embraer_quadro['quarter'], errors='coerce')

# Drop rows where 'quarter' could not be converted to datetime
df_embraer_quadro = df_embraer_quadro.dropna(subset=['quarter'])

# Filter by the year 2016
df_embraer_2016 = df_embraer_quadro[df_embraer_quadro['quarter'].dt.year == 2016]

# Filter by conta '3.01'
df_embraer_2016_conta_3_01 = df_embraer_2016[df_embraer_2016['conta'] == '3.01']

# Filter by conta '1'
df_embraer_2016_conta_1 = df_embraer_2016[df_embraer_2016['conta'] == '1']

# Save the filtered DataFrames as CSV files
csv_path_3_01 = 'finsheet_embraer_2016_conta_3_01.csv'
df_embraer_2016_conta_3_01.to_csv(csv_path_3_01, index=False)

csv_path_1 = 'finsheet_embraer_2016_conta_1.csv'
df_embraer_2016_conta_1.to_csv(csv_path_1, index=False)

print(f"Data saved to {csv_path_3_01} and {csv_path_1}")

Data saved to finsheet_embraer_2016_conta_3_01.csv and finsheet_embraer_2016_conta_1.csv

In [36]:
df_embraer_2016_conta_1

,nsd,tipo,setor,subsetor,segmento,company_name,quadro,quarter,conta,descricao,valor,version
635566,57048,DFs Consolidadas,BENS INDUSTRIAIS,MATERIAL DE TRANSPORTE,MATERIAL AERONAUTICO E DE DEFESA,EMBRAER SA,Balanço Patrimonial Ativo,2016-03-31,1,Ativo Total,4.200037e+11,2
635568,58964,DFs Consolidadas,BENS INDUSTRIAIS,MATERIAL DE TRANSPORTE,MATERIAL AERONAUTICO E DE DEFESA,EMBRAER SA,Balanço Patrimonial Ativo,2016-06-30,1,Ativo Total,3.831501e+11,3
638790,60257,DFs Consolidadas,BENS INDUSTRIAIS,MATERIAL DE TRANSPORTE,MATERIAL AERONAUTICO E DE DEFESA,EMBRAER SA,Balanço Patrimonial Ativo,2016-09-30,1,Ativo Total,3.960679e+11,1
638792,63004,DFs Consolidadas,BENS INDUSTRIAIS,MATERIAL DE TRANSPORTE,MATERIAL AERONAUTICO E DE DEFESA,EMBRAER SA,Balanço Patrimonial Ativo,2016-12-31,1,Ativo Total,3.801667e+11,1

In [2]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
db_path = 'data/b3 BENS INDUSTRIAIS.db'
conn = sqlite3.connect(db_path)

# Read the finsheet table into a DataFrame
query = "SELECT * FROM finsheet"
df_finsheet = pd.read_sql_query(query, conn).drop_duplicates()

# Close the database connection
conn.close()

In [3]:
last_quarters = ['3', '4']
all_quarters = ['6', '7']

In [ ]:
df = df_finsheet[(df_finsheet['company_name'] == 'EMBRAER SA') &
                          (df_finsheet['tipo'] == 'DFs Consolidadas') &
                          (pd.to_datetime(df_finsheet['quarter'], errors='coerce').dt.year == 2016) &
                          (df_finsheet['conta'] == '3.01')
                          ]

In [ ]:
# df_transformed = df_filtered.groupby(['company_name', 'quadro', 'quarter', 'conta'], group_keys=False).apply(apply_b3_math).reset_index(drop=True)

In [20]:
# Ensure 'quarter' is in datetime format and handle any conversion errors
df['quarter'] = pd.to_datetime(df['quarter'], errors='coerce')
df = df.dropna(subset=['quarter'])

# Check the prefix of 'conta'
conta_prefix = df['conta'].iloc[0][0]

# Initialize index and value variables for each quarter
i3 = i6 = i9 = i12 = None
v3 = v6 = v9 = v12 = 0

# Find out values for each month
try:
    df_march = df[df['quarter'].dt.month == 3]
    if not df_march.empty:
        i3 = df_march.index[0]
        v3 = df_march['valor'].max()
except Exception as e:
    pass
try:
    df_june = df[df['quarter'].dt.month == 6]
    if not df_june.empty:
        i6 = df_june.index[0]
        v6 = df_june['valor'].max()
except Exception as e:
    pass
try:
    df_september = df[df['quarter'].dt.month == 9]
    if not df_september.empty:
        i9 = df_september.index[0]
        v9 = df_september['valor'].max()
except Exception as e:
    pass
try:
    df_december = df[df['quarter'].dt.month == 12]
    if not df_december.empty:
        i12 = df_december.index[0]
        v12 = df_december['valor'].max()
except Exception as e:
    pass

if conta_prefix in last_quarters:
    print('last quarter)')
    try:
        v12 = v12 - (v9 + v6 + v3)
    except Exception as e:
        print('Error in B3 math for last quarters:', e, df.iloc[0])

if conta_prefix in all_quarters:
    try:
        v3 = v3 - 0
        v6 = v6 - (v3)
        v9 = v9 - (v6 + v3)
        v12 = v12 - (v9 + v6 + v3)
    except Exception as e:
        print('Error in B3 math for all quarters:', e, df.iloc[0])

# Update values
if i3 is not None:
    df.loc[i3, 'valor'] = v3
if i6 is not None:
    df.loc[i6, 'valor'] = v6
if i9 is not None:
    df.loc[i9, 'valor'] = v9
if i12 is not None:
    df.loc[i12, 'valor'] = v12

In [15]:
csv_path_filtered = 'finsheet_embraer_2016_filtered.csv'
df_filtered.to_csv(csv_path_filtered, index=False)

print(f"Data saved to {csv_path_filtered}")
df_filtered

Data saved to finsheet_embraer_2016_filtered.csv

,nsd,tipo,setor,subsetor,segmento,company_name,quadro,quarter,conta,descricao,valor,version
637511,57048,DFs Consolidadas,BENS INDUSTRIAIS,MATERIAL DE TRANSPORTE,MATERIAL AERONAUTICO E DE DEFESA,EMBRAER SA,Demonstração do Resultado,2016-03-31,3.01,Receita de Venda de Bens e/ou Serviços,5.048529e+09,2
637513,58964,DFs Consolidadas,BENS INDUSTRIAIS,MATERIAL DE TRANSPORTE,MATERIAL AERONAUTICO E DE DEFESA,EMBRAER SA,Demonstração do Resultado,2016-06-30,3.01,Receita de Venda de Bens e/ou Serviços,4.771568e+09,3
640739,60257,DFs Consolidadas,BENS INDUSTRIAIS,MATERIAL DE TRANSPORTE,MATERIAL AERONAUTICO E DE DEFESA,EMBRAER SA,Demonstração do Resultado,2016-09-30,3.01,Receita de Venda de Bens e/ou Serviços,4.913386e+09,1
640741,63004,DFs Consolidadas,BENS INDUSTRIAIS,MATERIAL DE TRANSPORTE,MATERIAL AERONAUTICO E DE DEFESA,EMBRAER SA,Demonstração do Resultado,2016-12-31,3.01,Receita de Venda de Bens e/ou Serviços,2.143570e+10,1

In [21]:
# Filter the DataFrame by company "EMBRAER SA" and "DFs Consolidadas" and by the year 2016
# df_filtered = df_finsheet[(df_finsheet['company_name'] == 'EMBRAER SA') &
#                           (df_finsheet['tipo'] == 'DFs Consolidadas') &
#                           (pd.to_datetime(df_finsheet['quarter'], errors='coerce').dt.year == 2016) &
#                           (df_finsheet['conta'].str.startswith(('3', '4')))].copy()

# Apply B3 math to the filtered dataframe

# Save the transformed DataFrame as a CSV file
csv_path_transformed = 'finsheet_embraer_2016_transformed.csv'
df_transformed.to_csv(csv_path_transformed, index=False)

print(f"Data saved to {csv_path_transformed}")

last quarter)
last quarter)
last quarter)
last quarter)
Data saved to finsheet_embraer_2016_transformed.csv

C:\Users\faust\AppData\Local\Temp\ipykernel_15528\897916388.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_transformed = df_filtered.groupby(['company_name', 'quadro', 'quarter', 'conta'], group_keys=False).apply(apply_b3_math).reset_index(drop=True)

In [19]:
df_filtered['valor']/1000000000

637511     5.048529
637513     4.771568
640739     4.913386
640741    21.435696
Name: valor, dtype: float64

In [23]:
df_transformed['valor']/1000000000

0     5.048529
1     4.771568
2     4.913386
3    21.435696
Name: valor, dtype: float64